<div class="container">
	<h1> Employee Form</h1>
	<%= form_for [@organization, @employee], html: { multipart: true } do |f| %>
		<%= f.label :image %><br>
		<%= f.file_field :image %><br>
		<br>
		<%= f.label :first_name %><br>
		<%= f.text_field :first_name %><br>
		<br>
		<%= f.label :last_name %><br>
		<%= f.text_field :last_name %><br>
		<br>
		<%= f.label :middle_name %><br>
		<%= f.text_field :middle_name %><br>
		<br>
		<%= f.label :gender %><br>
		<%= f.select :gender, [['Male','male'],['Female','female']] %>
		<br>
		<%= f.label :bank_account_id %><br>
		<%= f.text_field :bank_account_id %><br>
		<br>
		<%= f.label :employee_ID %><br>
		<%= f.text_field :employee_id %><br>
		<br>
		<%= f.label :date_of_birth %><br>
		<%= f.text_field :date_of_birth,placeholder: "YYYY/MM/DD" %><br>
		<br>
		<%= f.label :job_title %><br>
		<%= f.text_field :job_title %><br>
		<br>
		<%= f.label :date_joined_company %><br>
		<%= f.date_select :date_joined_company %><br>
		<br>
		<%= f.label :residential_address %><br>
		<%= f.text_field :residential_address %><br>
		<br>
		<%= f.submit %>
		<% end %>
</div>