<h1>Payroll Analysis (Month)</h1>
<div id="margin1">
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div>
	<table class="container">
		<thead>
			<tr>
				<th><h1>Emloyee/ID</h1></th>
				<th><h1>Standard salary</h1></th>
				<th><h1>Hours worked (hrs)</h1></th>
				<th><h1>Additional earnings</h1></th>
				<th><h1>Gross pay</h1></th>
				<th><h1>Pay day</h1></th>
			</tr>
		</thead>
		<tbody>
		<% @employees.each do |employee| %>
			<tr>
				<td><%= link_to employee.first_name << ' ' << employee.last_name, organization_employee_path(employee.organization, employee), 'data-toggle' => 'modal', 'data-target' => '#myModal' %></td>
				<td><%= %></td>
				<td><%= %></td>
				<td><%= %></td>
				<td><%= %></td>
				<td><%= %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>