<div class="modal-body">
	<h1><%= @payment.employee.first_name %> <%= @employee.last_name %> </h1>
	<br>
	<%= image_tag @payment.employee.image.url(:medium), alt: "" %>
	<br>
	<p>Salary:<%= @payment.salary %></p>
	<p>Hours worked:<%= @payment.hrs_worked %></p>
	<p>Employee ID:<%= @payment.employee_id %></p>
	
	<p>Payment Status:<%= @payment.payment_status ? 'Paid' : 'Unpaid' %></p>
	
	<p>Payment Date:<%= @payment.month %></p>
</div>