
<div class="modal-body">
  <%= link_to 'Back', organization_employee_path(@payment.employee.organization, @payment.employee) %> |
  <%= link_to 'Edit', edit_employee_payment_path(@employee, @payment) %>

	<h1><%= @payment.employee.first_name %>  </h1>
	<br>
	<%= image_tag @payment.employee.image.url(:medium), alt: "" %>
	<br>
  <p>Employee ID: <%= @payment.employee_id %></p>
  <br>
	<p>Salary: $<%= (@payment.cost_salary * @payment.hrs_worked) %></p>
  <br>
	<p>Total Hrs worked: <%= (@payment.hrs_worked + @payment.hrs_extra) %></p>
  <br>
  <p>Extra pay: $<%= (@payment.hrs_extra * @payment.cost_extra) %></p>
  <br>
	<p>Gross Pay: $<%= ((@payment.cost_salary * @payment.hrs_worked) + (@payment.hrs_extra * @payment.cost_extra)) %></p>
  <br>
  <p>Payment Status: <%= @payment.payment_status ? 'Paid' : 'Unpaid' %></p>
  <br>
  <p>Payment Date: <%= @payment.month %></p>

</div>