<div class="container">

		<%= link_to 'Add New Employee', new_organization_employee_path(@organization) %> |
		<%= link_to 'Add New Contractor', new_organization_contractor_path(@organization) %>

		<h1>Employees of <%= @organization.legal_name %></h1>
  <div class="alert-success" id="notice"><%= flash[:notice] %></div>

		<div class="container">
          <table class="table">
            <thead>
            <tr>
              <th><h1>Employee/ID</h1></th>
            </tr>
            </thead>
            <% @employees.each do |employee| %>
            <tbody>
            <tr>
              <td><h3><%= link_to employee.first_name << ' ' << employee.last_name, organization_employee_path(@organization, employee.id) %></h3></td>
            </tr>
            </tbody>
            <% end %>
          </table>

      <%= react_component 'Contractor' %>
      <!--<div id="app"></div>-->

			
		</div>
		
		<%= link_to 'Edit', edit_organization_path(@organization) %> |
		<%= link_to 'Back', organizations_path %>

</div>