<div class="container">

		<%= link_to 'Add New Employee', new_organization_employee_path(@organization) %> |
		<%= link_to 'Add New Contractor', new_organization_contractor_path(@organization) %>

		<h1>Employees of <%= @organization.legal_name %></h1>

		<div class="container">
			<% @employees.each do |employee| %>
			<h3><%= link_to employee.first_name, organization_employee_path(@organization, employee.id) %></h3>
			<% end %>
			
		</div>
		
		<%= link_to 'Edit', edit_organization_path(@organization) %> |
		<%= link_to 'Back', organizations_path %>

</div>