<!DOCTYPE html>
<html>
  <head>
  <header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="Logo Image">
    </a>
    <%= link_to 'Organizations', organizations_path %>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation right">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <%= nav_link 'Dashboard', '/admin/dashboard' %>
        <%= nav_link 'Accounts', '/admin/accounts' %>
        <%= nav_link 'Payroll', '/admin/payroll' %>
        <%= nav_link 'Reports', '/admin/dashboard' %>
      </ul>
    </nav>

    <div class="navigation-tools">

    </div>
  </div>
</header>
    <title>Payroll App</title>
    <%= csrf_meta_tags %>
   
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container-fluid">
  <div class="alert-danger col-lg-4"><%= notice %></div>
  <p class="alert-alert"><%= alert %></p>
    <br>
  </div>
  <br>
    <%= yield %>
  </body>

  <footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="Logo image">
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
      <li><a href="javascript:void(0)">Products</a></li>
    </ul>
    <ul>
      <li><h3>Follow Us</h3></li>
      <li><a href="javascript:void(0)">Facebook</a></li>
      <li><a href="javascript:void(0)">Twitter</a></li>
      <li><a href="javascript:void(0)">YouTube</a></li>
    </ul>
    <ul>
      <li><h3>Legal</h3></li>
      <li><a href="javascript:void(0)">Terms and Conditions</a></li>
      <li><a href="javascript:void(0)">Privacy Policy</a></li>
    </ul>
  </div>
  <hr>
  <p>Disclaimer area lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nostrum repudiandae saepe.</p>
</footer>
</html>
